*{
    margin:0;
    padding:0;
}
.navbar-header img{
    margin-top:20px;
}
#list ul li a{
    color:#23527c;
    font-size: 14px;
    margin-left: 50px;
}
#list ul li{
    margin-top: 25px;
}
.ull{
    height:90px;
}
header .desc{
    margin-top:18px;
}
.top{
    height:40px;
    background:#F45A14;
}
.top a{
    color:#fff;
}
.top p{
    margin-top: 12px;
}
.top span{
    color:#fff;
    font-size: 17px;
}
#deng,#deng2{
    text-decoration: none;
    font-size: 14px;
}
#banner{
    margin-top: 100px;
}
#main-all{
    width:100%;
    height:520px;
    background:url("img/login_bg.jpg")no-repeat;
    margin:auto;
}
#main-right{
    width:480px;
    height:250px;
    background:#e1f2fc;
    margin-top: 60px;
    float:right;
}
#main-right ul{
    margin:0;
    padding:0;
    list-style: none;
}
#main-right ul li{
    font-size: 18px;
    float:left;
    width:240px;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:#999999;
    font-weight: bold;
}
#li1{
    width:480px;
    height:420px;
    font-size: 16px;
   padding-top: 60px;
}
#li1 a{
    color:orange;
}
#li1 #input1{
    width:320px;
    height:47px;
    margin-left: 60px;
    margin-top:20px;
    background:url(img/people.jpg)no-repeat;
    background-color: #fff;
    padding-left: 45px;
    border:0;
    border-bottom: 1px solid #ec971f;
}
#li1 #input2{
    width:320px;
    height:47px;
    margin-left: 60px;
    margin-top:20px;
    background:url(img/pwd.jpg)no-repeat;
    background-color: #fff;
    padding-left: 45px;
    border:0;
    border-bottom: 1px solid #ec971f;
}
#li1 p{
    margin-left: 60px;
    margin-top: 40px;
}
#emailSpan{
    font-size: 14px;
}
#pwdSpan{
    font-size: 14px;
}
#li1 #lu{
    width:320px;
    height:47px;
    line-height: 47px;
    background: #1b6d85;
    color: #fff;
    text-align: center;
    display:block;
    margin-left: 60px;
    margin-top: 30px;
    letter-spacing: 10px;
}
#pu,#li1,#er,#li2{
    background:#FCFCFC;
}
#li2{
    width:480px;
    height:420px;
    display:none;
    margin-top: -50px;
    line-height: 4em;
}
.sao{
    font-size: 17px;
    margin-left: 160px;
    margin-top:50px;
    color:orange;
}
.hong{
    font-size: 17px;
    margin-left: 160px;
    margin-top:50px;
    color:#5e5e5e;
}
#li2 img{
    margin-left: 140px;
}
#li1 img{
    margin-left: 190px;
}
.you{
    margin-left: 100px;
}
.hong{
    color:#d4d4d4;
}
#main-right li{
    border-bottom: 2px solid #737373;
}
.well{
 margin-bottom:0;
}
#lu a{
    text-decoration: none;
    color:white;
}