@charset "utf-8";
html,body,form,#menu,h3,dl,dt,dd{margin:0;padding:0;border:medium none;}
body{color:#333;font:12px/1.8em Microsoft YaHei,Verdana,SimSun,helvetica,Arial,Tahoma,Sans-Serif;background:#F1F1F1 url(body.gif) no-repeat center 220px;}
h1{margin:0;padding:0;line-height:30px;font-weight:normal;color:#F45A14;font-size:16px;}
.fl{float:left;*display:inline;}
.fr{float:right;*display:inline;}
.clear{clear:both;}
a{color:#525252;text-decoration:none;}
a:hover{color:#FD5936;}
a.exp{color:#2EACB8;}
a.exp:hover{color:#FD5936;}
a img{border:none;}
.fred{color:red;}
p{margin:0.6em 0 1.2em 0;padding:0;}
.input_w{margin:0;padding:0;width:170px;height:22px;color:#CCC;font:12px/22px Microsoft YaHei,Verdana,SimSun,helvetica,Arial,Tahoma,Sans-Serif;border-style:solid;border-width:1px 0 1px 1px;border-color:#DEDEDE;}
.pagewidth{width:970px;margin:0 auto;}
select{font:12px/1.8em Microsoft YaHei,Verdana,SimSun,helvetica,Arial,Tahoma,Sans-Serif;}
/*顶部*/
#header{padding:15px 0 3px 0;background:#F2F2F2 url(menu_bg.jpg) repeat-x left bottom;}
.logo{width:240px;}
.sub_webtop{width:730px;text-align:right;}
.menu_bk{margin-top:15px;width:969px;height:39px;border-left:#3C6AB3 solid 1px;overflow:hidden;}
#menu{width:976px;margin-left:-7px;list-style-type:none;overflow:hidden;*zoom:1;}
#menu li{float:left;}
#menu li a{display:block;width:121px;height:39px;border-right:#3C6AB3 solid 1px;line-height:39px;text-align:center;color:#fff;font-size:14px;}
#menu li a:hover{background-color:#0E3B82;}
/*Banner*/
#banner{margin-top:10px;}
#search{width:260px;height:190px;padding-top:50px;color:#fff;background:url(exhibition_search_bg.png) no-repeat 0 0;}
#homebanner{position:relative;width:710px;height:240px;overflow:hidden;border-radius:0 8px 0 0;}
#homebanner .a_bigImg{position:absolute;}
.ul_change{position:absolute;list-style-type:none;margin:0;padding:0;right:5px;bottom:5px;overflow:hidden;border-radius:6px 6px 6px 6px;}
.ul_change li{float:left;}
.ul_change span {display:block;width:30px;height:25px;text-align:center;color:#fff;line-height:25px;background:url(banner_bg.jpg) no-repeat 0 0;overflow:hidden;cursor:pointer;}
.ul_change span.on{background:url(banner_bg.jpg) no-repeat 0 -25px;}
/*首页中间内容*/
#tjzh{width:261px; background:url(tjzh_05.jpg) repeat-y 0 0;}
#compay_info{width:709px;background:#FDFDFD url(home_about_bg.jpg) no-repeat 0 0;}
.tjzh_title{margin:0 auto;padding:3px 0 8px 0;width:245px;background:url(tjzh_buttom.gif) no-repeat left bottom;}
.thzh_list{margin:0 auto;width:245px;}
dl.explist{margin:8px 0 0 0;overflow:hidden;*zoom:1;}
dl.explist dt{float:left;width:90px;height:50px;border:#ccc solid 1px;background-color:#fff;}
dl.explist dd{float:left;padding-left:10px;width:143px;line-height:1.5em;}
dl.explist dt img{margin:auto;}
.exp_date{color:#666;}
.exp_add{color:#999;}
.change_exp{padding:10px 0;text-align:center;}
.about{width:430px;padding:20px 20px 0 19px;}
.about_content{margin-top:15px;}
.news{width:230px;padding:20px 10px 0 0;background:url(news_bg.png) no-repeat right bottom;*zoom:1;}
.news ul,.newslist{list-style-type:none;margin:0;padding:0 0 15px 0;}
.news ul li,#topnews ul li{line-height:27px;padding-left:15px;background:url(icon.gif) no-repeat left center;}
.newslist li{line-height:28px;padding-left:15px;background:url(icon.gif) no-repeat 0 11px;}
.newslist{margin-top:8px;}
.newslist li span{float:right;}

#exp_pic{margin-top:10px;padding:10px;background-color:#fbfbfb;}
#exp_pic_content img{margin:0 8px;border:#B1B1B1 solid 1px;padding:1px;}
#exp_pic_content p{margin:0;padding-top:4px;text-align:center;}
/*中间*/
#main{margin-top:10px;}
#left{width:250px;}
#xiangguan h3{padding-left:15px;height:33px;line-height:33px;font-size:14px;color:#fff;font-weight:normal;background:url(xg_top.gif) no-repeat 0 0;}
#topnews h3,#hangye h3{margin-top:10px;padding-left:15px;height:33px;line-height:33px;font-size:14px;color:#fff;font-weight:normal;background:url(news_top.gif) no-repeat 0 0;}
.box_content{border-left:#CFCFCF solid 1px;border-right:#CFCFCF solid 1px;background-color:#fff;overflow:auto;}
.box_content ul{list-style-type:none;margin:0;padding:0;overflow:auto;*zoom:1;}
#xiangguan ul li,#hangye ul li{float:left;}
#xiangguan ul li a,#hangye ul li a{display:block;width:218px;padding-left:30px;line-height:32px;border-bottom:#CFCFCF solid 1px; background:url(icon.gif) no-repeat 15px center;}
#xiangguan ul li a:hover,
#xiangguan ul li a.on,
#hangye ul li a:hover,
#hangye ul li a.on{width:216px;border-left:#fff solid 1px;border-right:#fff solid 1px;padding-left:29px;background:#F9F9F9 url(icon1.gif) no-repeat 14px center;color:#FD5936;}
#topnews .box_content{width:233px;padding:5px 5px 5px 10px;}
#right{margin-left:15px;width:705px;}
#subway{height:33px;padding-left:5px;overflow:hidden;*zoom:1;background:url(subway_bg.gif) no-repeat 0 0;}
#subway span{float:left;display:block;padding:0 18px 0 10px;line-height:32px; background:url(subway_fgx.gif) no-repeat center right;}
#content{padding:10px 15px;background-color:#FCFCFC;border:#D3D3D3 solid 1px;border-top:none;}
/*地图*/
#map{margin-top:10px;position:relative;height:230px;background:url(map.png) no-repeat 0 0;}
.beimeizhou{position:absolute;top:2px;left:217px;z-index:1;}
.nanmeizhou{position:absolute;top:117px;left:290px;z-index:1;}
.ouzhou{position:absolute;top:15px;left:401px;z-index:1;}
.feizhou{position:absolute;top:72px;left:387px;z-index:1;}
.yazhou{position:absolute;top:6px;left:464px;z-index:1;}
.dayangzhou{position:absolute;top:143px;left:581px;z-index:1;}
#map a:hover img{z-index:10;}
/*底部*/
#footer{margin-top:15px;padding-top:4px;border-top:#DFDFDF solid 1px; background-color:#fff;}
.copyright{border-top:#DFDFDF solid 1px;padding:10px 0;background-color:#F2F2F2;text-align:center;overflow:auto;*zoom:1;}
.copyright p{margin:0;}
.copyright a{color:#333;}

.page{text-align:center;line-height:35px;}
.page span,.page a{margin:0 3px;}
.page .current{font-weight:bold;}
.page input{border:#CCC solid 1px;}